
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProcessDetails</h2>

<p>@ViewBag.ProcessName</p>
<p>@ViewBag.ProcessID</p>
<p>@ViewBag.ProcessResponding</p>
<p>@ViewBag.ProcessSessionID</p>
<p>@ViewBag.ProcessWorkingSet</p>